<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">AjoT Parking Summary</ion-title>
    <ion-button slot="end" style="margin-right: 10px;" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngIf="userService.isUserAdmin()" class="ion-justify-content-end">
      <ion-button style="margin-right: 10px;" (click)="openModalAddParking()">
        <ion-icon name="add-outline" slot="start"></ion-icon>Add Parking
      </ion-button>
    </ion-row>

    <ion-row *ngIf="parkingArray.length > 0">

      <ion-col size="12" size-sm="3" *ngFor="let parking of parkingArray">
        <ion-card (click)="openStallsManagement(parking.MAC)" style="height: 550px;">
          <img alt="parking image" [src]="'../../assets/' + parking.img" style="height: 290px;" />
          <ion-card-header>
            <ion-card-title>{{parking.city}} - {{parking.address}} - {{parking.location}}</ion-card-title>
            <ion-card-subtitle> {{ parking.isOpen === true ? 'Open' : 'Close' }} </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / {{parking.nStalls}}
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>

    <ion-row *ngIf="parkingArray.length === 0" class="ion-justify-content-center">

      <ion-col size="12" size-sm="3" class="ion-text-center">
        <ion-text style="font-size: 30px;"> No parking found </ion-text>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>