<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">AjoT Parking Summary</ion-title>
    <ion-button slot="end" style="margin-right: 10px;" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row *ngIf="userService.isUserAdmin()" class="ion-justify-content-end">
      <ion-button style="margin-right: 10px;" (click)="openModalAddParking()">
        <ion-icon name="add-outline" slot="start"></ion-icon>Add Parking
      </ion-button>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="3">
        <ion-card (click)="openStallsManagement()">
          <img alt="immagine parcheggio" src="../../assets/parcheggio1.jpg" />
          <ion-card-header>
            <ion-card-title>Nome Parcheggio</ion-card-title>
            <ion-card-subtitle>Open</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / 99999
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="3">
        <ion-card>
          <img alt="immagine parcheggio" src="../../assets/parcheggio1.jpg" />
          <ion-card-header>
            <ion-card-title>Nome Parcheggio</ion-card-title>
            <ion-card-subtitle>Open</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / 99999
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-sm="3">
        <ion-card>
          <img alt="immagine parcheggio" src="../../assets/parcheggio1.jpg" />
          <ion-card-header>
            <ion-card-title>Nome Parcheggio</ion-card-title>
            <ion-card-subtitle>Open</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / 99999
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-sm="3">
        <ion-card>
          <img alt="immagine parcheggio" src="../../assets/parcheggio1.jpg" />
          <ion-card-header>
            <ion-card-title>Nome Parcheggio</ion-card-title>
            <ion-card-subtitle>Open</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / 99999
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-sm="3">
        <ion-card>
          <img alt="immagine parcheggio" src="../../assets/parcheggio1.jpg" />
          <ion-card-header>
            <ion-card-title>Nome Parcheggio</ion-card-title>
            <ion-card-subtitle>Open</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / 99999
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col size="12" size-sm="3">
        <ion-card>
          <img alt="immagine parcheggio" src="../../assets/parcheggio1.jpg" />
          <ion-card-header>
            <ion-card-title>Nome Parcheggio</ion-card-title>
            <ion-card-subtitle>Open</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Stalls available: 5555 / 99999
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>