<ion-content class="background-content">
  <div class="fullheight xc">

    <ion-card class="background-card">
      <ion-grid style="padding: 0px">
        <ion-row class="ion-align-items-center ion-justify-content-center">

          <ion-col size="12" class="ion-hide-sm-up ion-text-center">
            <ion-text class="title">AjoT Parking</ion-text>
          </ion-col>

          <ion-col align-self-center size="12" size-sm="6">

            <ion-row style="margin-bottom: 10px;" class="container-title-page">
              <ion-back-button defaultHref="/home" text="Back" (click)="back()"></ion-back-button>
              <ion-title class="title-page">Login</ion-title>
            </ion-row>

            <form [formGroup]="loginForm" (ngSubmit)="signIn()" novalidate>
              <ion-item lines="full">
                <ion-input type="text" required label="Email" labelPlacement="floating" formControlName="email"></ion-input>
              </ion-item>
              <div *ngIf="loginForm.controls?.['email']?.touched && loginForm.controls?.['email']?.invalid">
                <div class="error ion-padding" *ngIf="errorControl['email'].errors?.['required']">
                  <ion-text color="danger">Email is required.</ion-text>
                </div>
              </div>

              <ion-item lines="full">
                <ion-input type="password" required label="Password" labelPlacement="floating" formControlName="password"></ion-input>
              </ion-item>
              <div *ngIf="loginForm.controls?.['password']?.touched && loginForm.controls?.['password']?.invalid">
                <div class="error ion-padding" *ngIf="errorControl['password'].errors?.['required']">
                  <ion-text color="danger">Password is required.</ion-text>
                </div>
              </div>


              <ion-button type="submit" color="danger" expand="block" style="margin-top:10px">Sign In</ion-button>

              <ion-row class="ion-text-center">
                <ion-col>
                  <a [routerLink]="['/forgot-password']" class="small-text" style="margin-top:10px">Forgot Password?</a>
                </ion-col>
              </ion-row>

            </form>
          </ion-col>

          <ion-col size-sm="6" class="ion-hide-sm-down border-left">
            <ion-row class="ion-justify-content-center">
              <ion-text class="title">AjoT Parking</ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-img src="../../assets/login.png" alt="Macchina"></ion-img>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>