<ion-content class="auth-form background-content">
  <div class="fullheight xc">

    <ion-card class="background-card">
      <ion-grid style="padding: 0px">
        <ion-row class="ion-align-items-center">
          <ion-col size="12" class="ion-hide-sm-up ion-text-center">
            <ion-text class="title">AjoT Parking</ion-text>
          </ion-col>

          <ion-col align-self-center size="12" size-sm="6">
            <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>

            <ion-text class="divider line one-line">or</ion-text>

            <ion-text class="already">Already a user?</ion-text>

            <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
          </ion-col>

          <ion-col size-sm="6" class="ion-hide-sm-down border-left">
            <ion-row>
              <ion-text class="title">AjoT Parking</ion-text>
            </ion-row>
            <ion-row>
              <ion-img src="../../assets/login.png" alt="Macchina"></ion-img>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>