<ion-content class="auth-form background-content">
  <div class="fullheight xc">

    <ion-text class="title">AjoT Parking</ion-text>

    <ion-card class="background-card">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col align-self-center size="6">
            <ion-button [routerLink]="['/registration']" expand="block" color="primary">Register</ion-button>

            <ion-text class="divider line one-line">or</ion-text>

            <ion-text class="already">Already a user?</ion-text>

            <ion-button [routerLink]="['/login']" expand="block" color="danger">Sign In</ion-button>
          </ion-col>

          <ion-col size="0" size-sm="6">
            <ion-img src="../../assets/login.png" alt="Macchina"></ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>