<ion-content class="background-content">
  <div class="fullheight xc">
    <ion-card class="background-card">

      <ion-grid style="padding: 0px">
        <ion-row class="ion-align-items-center ion-justify-content-center">

          <ion-col size="12" class="ion-hide-sm-up ion-text-center">
            <ion-text class="title">AjoT Parking</ion-text>
          </ion-col>

          <ion-col align-self-center size="12" size-sm="6">

            <ion-row style="margin-bottom: 10px;" class="container-title-page">
              <ion-back-button defaultHref="/home" text="Back"></ion-back-button>
              <ion-title class="title-page">Register</ion-title>
            </ion-row>

            <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
              <ion-item lines="full">
                <ion-input type="text" required label="First Name" labelPlacement="floating"></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-input type="text" required label="Last Name" labelPlacement="floating"></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-input formControlName="email" type="email" required label="Email" labelPlacement="floating"></ion-input>
              </ion-item>
              <div *ngIf="ionicForm.controls?.['email']?.touched && ionicForm.controls?.['email']?.invalid">
                <div class="error ion-padding" *ngIf="errorControl['email'].errors?.['required']">
                  <ion-text color="danger">Email is required.</ion-text>
                </div>
                <div class="ion-padding" *ngIf="errorControl['email'].errors?.['pattern']">
                  <ion-text color="danger">Please provide valid email.</ion-text>
                </div>
              </div>

              <ion-item lines="full">
                <ion-input formControlName="password" type="password" required label="Password" labelPlacement="floating"></ion-input>
              </ion-item>
              <div *ngIf="ionicForm.controls?.['password']?.touched && ionicForm.controls?.['password']?.invalid">
                <div class="error ion-padding" *ngIf="errorControl['password'].errors?.['required']">
                  <ion-text color="danger">Password is required.</ion-text>
                </div>
                <div class="ion-padding" color="danger" *ngIf="ionicForm.controls?.['password']?.errors?.['minlength']">
                  <ion-text color="danger">Password should be min 10 chars long.</ion-text>
                </div>
              </div>

              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
                </ion-col>
              </ion-row>
            </form>

          </ion-col>

          <ion-col size-sm="6" class="ion-hide-sm-down border-left">
            <ion-row class="ion-justify-content-center">
              <ion-text class="title">AjoT Parking</ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-img src="../../assets/login.png" alt="Macchina"></ion-img>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>