<ion-content class="background-content">
  <div class="fullheight xc">
    <ion-card class="background-card">

      <ion-grid style="padding: 0px">
        <ion-row class="ion-align-items-center ion-justify-content-center">

          <ion-col size="12" class="ion-hide-sm-up ion-text-center">
            <ion-text class="title">AjoT Parking</ion-text>
          </ion-col>

          <ion-col align-self-center size="12" size-sm="6">

            <ion-row style="margin-bottom: 10px;" class="container-title-page">
              <ion-back-button defaultHref="/home" text="Back"></ion-back-button>
              <ion-title class="title-page">Register</ion-title>
            </ion-row>

            <form>
              <ion-item lines="full">
                <ion-label position="floating">First name</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Last name</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" required></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" required></ion-input>
              </ion-item>

              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="danger" expand="block">Sign Up</ion-button>
                </ion-col>
              </ion-row>
            </form>

          </ion-col>

          <ion-col size-sm="6" class="ion-hide-sm-down border-left">
            <ion-row class="ion-justify-content-center">
              <ion-text class="title">AjoT Parking</ion-text>
            </ion-row>
            <ion-row class="ion-justify-content-center">
              <ion-img src="../../assets/login.png" alt="Macchina"></ion-img>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
</ion-content>