<ion-header>
  <ion-toolbar>
    <ion-title>Add new parking</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="addParkingForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-input formControlName="MAC" type="text" required label="MAC" labelPlacement="floating"></ion-input>
    </ion-item>
    <div *ngIf="addParkingForm.controls?.['MAC']?.touched && addParkingForm.controls?.['MAC']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['MAC'].errors?.['required']">
        <ion-text color="danger">MAC is required.</ion-text>
      </div>
    </div>

    <ion-item lines="full">
      <ion-input formControlName="city" type="text" required label="City" labelPlacement="floating"></ion-input>
    </ion-item>
    <div *ngIf="addParkingForm.controls?.['city']?.touched && addParkingForm.controls?.['city']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['city'].errors?.['required']">
        <ion-text color="danger">City is required.</ion-text>
      </div>
    </div>

    <ion-item lines="full">
      <ion-input formControlName="address" type="text" required label="Address" labelPlacement="floating"></ion-input>
    </ion-item>
    <div *ngIf="addParkingForm.controls?.['address']?.touched && addParkingForm.controls?.['address']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['address'].errors?.['required']">
        <ion-text color="danger">Address is required.</ion-text>
      </div>
    </div>

    <ion-item lines="full">
      <ion-input formControlName="location" type="text" required label="Location" labelPlacement="floating"></ion-input>
    </ion-item>
    <div *ngIf="addParkingForm.controls?.['location']?.touched && addParkingForm.controls?.['location']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['location'].errors?.['required']">
        <ion-text color="danger">Location is required.</ion-text>
      </div>
    </div>

    <ion-item lines="full">
      <ion-input formControlName="imageName" type="text" required label="Image Name" labelPlacement="floating"></ion-input>
    </ion-item>
    <div *ngIf="addParkingForm.controls?.['imageName']?.touched && addParkingForm.controls?.['imageName']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['imageName'].errors?.['required']">
        <ion-text color="danger">Image Name is required.</ion-text>
      </div>
    </div>

    <ion-item lines="full">
      <ion-input formControlName="brightnessThreshold" type="number" required label="Brightness Threshold" labelPlacement="floating"></ion-input>
    </ion-item>
    <div *ngIf="addParkingForm.controls?.['brightnessThreshold']?.touched && addParkingForm.controls?.['brightnessThreshold']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['brightnessThreshold'].errors?.['required']">
        <ion-text color="danger">Brightness Threshold is required.</ion-text>
      </div>
      <div class="ion-padding" *ngIf="errorControl['brightnessThreshold'].errors?.['pattern']">
        <ion-text color="danger">Please provide a value between 0 and 4095.</ion-text>
      </div>
    </div>

    <ion-radio-group formControlName="isOpen">
      <ion-list-header>
        <ion-label>Status</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-radio value="1">Open</ion-radio>
      </ion-item>

      <ion-item>
        <ion-radio value="0">Close</ion-radio>
      </ion-item>
    </ion-radio-group>
    <div *ngIf="addParkingForm.controls?.['isOpen']?.touched && addParkingForm.controls?.['isOpen']?.invalid">
      <div class="error ion-padding" *ngIf="errorControl['isOpen'].errors?.['required']">
        <ion-text color="danger">Status is required.</ion-text>
      </div>
    </div>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="success" expand="block">Insert</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>